<div class="registration">
  <div heading-column-lr>
    <h1 big-heading>Register</h1>
  </div>

  <ion-label color="danger" style="text-align: end"
    >All fields are required</ion-label
  >

  <form name="registrationForm" #registrationForm="ngForm">
    <ion-item transparent>
      <ion-input
        name="firstName"
        [(ngModel)]="demoInfo.firstName"
        #firstName="ngModel"
        type="text"
        required
        placeholder="First Name"
      ></ion-input>
    </ion-item>
    <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)">
      <ion-text color="danger" *ngIf="firstName.errors.required"
        >This field is required.</ion-text
      >
    </div>

    <ion-item transparent>
      <ion-input
        name="lastName"
        [(ngModel)]="demoInfo.lastName"
        #lastName="ngModel"
        type="text"
        required
        placeholder="Last Name"
      ></ion-input>
    </ion-item>
    <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)">
      <ion-text color="danger" *ngIf="lastName.errors.required"
        >This field is required.</ion-text
      >
    </div>

    <ion-item transparent>
      <ion-input
        name="contactNo"
        [(ngModel)]="demoInfo.contactNo"
        #contactNo="ngModel"
        type="tel"
        maxlength="10"
        minlength="10"
        required
        placeholder="Contact No."
      ></ion-input>
    </ion-item>
    <div *ngIf="contactNo.invalid && (contactNo.dirty || contactNo.touched)">
      <ion-text color="danger" *ngIf="contactNo.errors.required"
        >This field is required.</ion-text
      >
      <ion-text color="danger" *ngIf="contactNo.errors.minlength"
        >This field must contain 10 digits.</ion-text
      >
    </div>

    <ion-item transparent>
      <ion-input
        name="emailId"
        [(ngModel)]="demoInfo.email"
        #emailId="ngModel"
        type="text"
        email
        required
        placeholder="Email Id"
      ></ion-input>
    </ion-item>
    <div *ngIf="emailId.invalid && (emailId.dirty || emailId.touched)">
      <ion-text color="danger" *ngIf="emailId.errors.required"
        >This field is required.</ion-text
      >
      <ion-text color="danger" *ngIf="emailId.errors.email"
        >Enter valid email id.</ion-text
      >
    </div>

    <div style="height: 10px"></div>

    <ion-button
      color="primary"
      class="ion-button-class"
      size="large"
      expand="block"
      fill="solid"
      shape="round"
      type="submit"
      [disabled]="registrationForm.invalid"
      (click)="onSubmit()"
    >
      Submit
    </ion-button>
  </form>

  <ion-label color="danger">You can use demo app for a month only.</ion-label>
</div>
