<ion-content>
  <ion-item lines="none">
    <ion-label style="margin: 0 auto; font-size: 4vw"
      >Correct Answer: 4 marks</ion-label
    >
  </ion-item>
  <ion-item style="align-items: baseline; height: 6vw">
    <ion-label style="margin: 0 auto; font-size: 4vw">Incorrect Answer: -1 mark</ion-label>
  </ion-item>
  <ion-grid style="margin: 0 auto">
    <ion-label style="font-size: 3vw"
      >Default time will be 180 minutes, you can change it from
      below.</ion-label
    >
    <ion-row>
      <ion-col size="7" push="1">
        <ion-label class="label">Time (Minutes)</ion-label>
      </ion-col>
      <ion-col size="4">
        <ion-item lines="none" class="ion-no-margin ion-no-padding">
          <ion-icon
            class="icon-add"
            name="add"
            slot="start"
            size="default"
            (click)="onTimeUp()"
            (press)="onTimeUpPress()"
            (pressup)="onPressup()"
          ></ion-icon>
          <ion-input
            class="input-change"
            name="time"
            [(ngModel)]="testTime"
            type="number"
          ></ion-input>
          <ion-icon
            class="icon-remove"
            name="remove"
            slot="end"
            size="default"
            (click)="onTimeDown()"
            (press)="onTimeDownPress()"
            (pressup)="onPressup()"
          ></ion-icon>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="ion-no-margin ion-no-padding">
    <ion-row>
      <ion-col size="6">
        <ion-button
          (click)="onCancel()"
          expand="block"
          fill="clear"
          color="primary"
        >
          Cancel
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button
          (click)="onSet()"
          expand="block"
          fill="solid"
          color="primary"
        >
          Set
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
