


.icon-item-start {
  margin: 0px;
  margin-left: 15px;
}

.subject-logo-start {
  font-size: 40px;
}

.card {
  margin-left: 0;
  margin-right: 0;
  border-radius: 10px;
}

.testId-item {
  padding: 0;
}

.testId {
  font-weight: bold;
  text-align: center;
  font-size: 18px;
}

.icon-item-end {
  margin: 0px;
  margin-left: 7vw;
}

.subject-logo-end {
  font-size: 40px;
}



