ion-button {
    height: 50px;
}

ion-input {
    border: 1px solid black;
    width: 10vw;
    text-align: center;
    margin: 0px
}

.item {
    margin-bottom: 0px;
    padding: 0px;
}

.icon-add {
    margin-right: 0px;
}

.icon-remove {
    margin-left: 0px;
}

.label {
    position: absolute;  
    top: 35%
}

ion-grid ion-label {
    font-size: 3.4vw;
}

ion-segment-button {
    --border-radius: 18px;
    --indicator-color: var(--ion-color-primary);
    --color-checked: var(--ion-color-light)
}

ion-segment {
    border-radius: 18px;
}
