.menu-wrapper {
  background: var(--ion-color-primary);
  height: 100%;
}

.list {
    position: absolute;
    top: 40vw;
    width: 100%;
    /* height: 121vw; */
    /* border-radius: 30px; */
    background-color: var(--ion-color-primary);
    overflow-x: scroll;

}

.list-items {
    --background: var(--ion-color-primary);
    --color: white;
    height: 9.5vw;
    font-size: 3.5vw;
    width: 85%;
    margin-left: 25px;
}

.list-icon {
  font-size: 6vw;
}

.avatar-wrapper {
    position: relative;
    left: 10vw;
    top: 5vw;
    height: 16vw;
    width: 16vw;
    border-radius: 100%;
}

.avatar {
    position: absolute;
    top: 23%;
    left: 23%;
    height: 55%;
    width: 55%;
}

.close-icon {
    position: absolute;
    top: 5%;
    right: 10%;
    color: white;
    font-size: 25px;
}

.user-name {
    position: absolute;
    top: 26vw;
    left: 12vw;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.tab-bar {
  --border: 0px;
  --background: rgba(0, 0, 0, 0.02);
}

.menu-button {
  --background: var(--ion-color-primary);
}
