.card {
    margin-left: 0;
    margin-right: 0;
    border-radius: 10px;
}

.icon-item-start {
    margin: 0px;
    margin-top: 24px;
    margin-left: 15px;
}

.subject-logo-start {
    font-size: 30px;
}

.icon-item-end {
    margin: 0px;
    margin-top: 24px;
    margin-left: 10px;
}

.subject-logo-end {
    font-size: 30px;
}


.testId-item {
    padding: 0;
}

.testId {
    margin-bottom: 0; 
    font-weight: bold;
}

.test-info {
    margin: 0;
    font-size: 14px;
}

.status {
    margin: 4px
}

.date {
    margin: 4px;
    margin-left: 0;
}

.score {
    margin: 4px;
    font-weight: bold;
}

.text-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}