ion-content {
    --background: rgba(0, 0, 0, 0.04);
  }
  
  .div-profile {
    margin: 0px;
    position: relative;
    top: 0%;
    background: var(--ion-color-primary);
    width: 100%;
    height: 25vw;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
  }
  
  .div-profile ion-title {
    color: white;
    position: absolute;
    top: 15%;
    left: 11%;
  
  }
  
  .div-profile .profile{
    --background: white;
    top: 0vw;
    height: 26vw;
    border-radius: 20px;
    width: 90%;
    margin-left: 5%;
    padding: 3vw;
  }
  
  .div-profile ion-avatar {
    margin: 0;
    height: 11vw;
    width: 11vw;
  }
  
  .div-profile ion-label {
      margin: 0;
      margin-left: 30px;
  }
  
  .div-profile .h3 {
    margin-bottom: 2vw;
    font-weight: 500;
    font-size: 4vw;
  }
  
  .div-profile .p {
    font-size: 3.5vw;
    font-weight: 400;
    color: black;
  }
  
  .user-info {
    position: absolute;
    top: 42vw;
    width: 90%;
    margin-left: 5%;
    border-radius: 20px;
  }
  
  .user-info .heading {
    margin: 0;
    font-size: 4vw;
    font-weight: 500;
  }
  
  .user-info .info {
    margin: 0;
    margin-top: 10px;
    font-size: 3.5vw;
    font-weight: 400;
  }
  
  
  
  